.hero-design {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  margin: 0 auto;

  .text-section {
    width: 50%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    height: 85vh;
    flex-direction: column;
    .text {
      padding-left: 7rem;
      display: flex;
      flex-wrap: wrap;
      h1,
      h4 {
        font-size: 85px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: .7em;
      }
      h1{
        width: 100%;
      }
      h4{
        margin-left: 3rem;
      }
    }
    .bottom-text{
      .capital-letter{
        font-weight: 500;
        font-size: 52px;
      }
      p{
        width: 45%;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
      }
      .button-menu{
        display: flex;
        align-items: center;
        width: max-content;
        gap: .5rem;
        margin-top: 1rem;
        transition: gap 0.7s ease;
        &:hover {
          gap: 2rem;
          cursor: pointer;
        }
        .menu{
          width: max-content;
          font-size: 32px;
          font-weight: 500;
        }
      }
    }
  }

  .image-container {
    width: 40%;
    margin-top: 5rem;
  }
}