@import "../../../utilities/variables.scss";

.navbar{
  width: 100%;
  background-color: $white;
  padding: 1rem 0rem;
  border-bottom: 2px solid $black;
  display: flex;
  justify-content: space-between;
  .logo{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid red;
    margin-left: 6rem;
  }
  .navbar-list-container{
    display: flex;
    flex-direction: row-reverse;
    .navbar-list{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      list-style-type: none;
      border: 1px solid red;
      .list-item{
    
      }
    }

  }
}


@media screen and (max-width: '767px') {
  .navbar{
    padding: .5rem 0rem;
    border-bottom: none;
    .menu-action{
      margin-right: 1rem;
      width: 100%;
      display: flex; 
      flex-direction: column;
      align-items: flex-end;
      .burger-menu-icon{
        margin-right: .5rem;
      }
      .mobile-navbar-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list-item{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: right;
          padding: .5rem 0rem;
          margin-right: 2rem;
          .item{
            border-bottom: 1px solid $black;
          }
        }
      }
    }
  }
}