.breakfast-design{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    flex-wrap: wrap;
    .img-left{
        margin-top: 15rem;
        .img{
            scale:.9;
            animation: fade-in-b linear;
            animation-timeline: view();
            animation-range-start: 450px;
            animation-range-end: 1800px;
            width: 766px;
            height: 468px;
        }
        .text{
            display: flex;
            gap: .5rem;
            transition: gap 0.7s ease;
            &:hover {
                gap: 2rem;
                cursor: pointer;
              }
            p{
                padding-left: 2rem;
                text-transform: uppercase;
                font-size: 32px;
                font-weight: 500;
            }
        }
    }
    .img-right{
        .img{
            scale:.9;
            animation: fade-in-b linear;
            animation-timeline: view();
            animation-range-start: 450px;
            animation-range-end: 1800px;
        }
    }
    .img-bottom{
        margin-top: 5rem;
        margin-left: 20rem;
        .img{
            scale:.9;
            animation: fade-in-b linear;
            animation-timeline: view();
            animation-range-start: 450px;
            animation-range-end: 1800px;
        }
    }
}



@keyframes fade-in-b{
    0%{scale:.9; }
    50%{scale:1;}
    100%{scale:1.05;}
}

  @media (max-width: 744px) {
    .breakfast-design{
        flex-direction: column;
        .img-left{
            margin-top: 5rem;
            width: 100%;
            .img{
                width: 650px;
                height: 368px;
            }
        }
        .img-right{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-right: 5.5rem;
            .img{
                
                width: 350px;
                height: 550px;
            }
        }
        .img-bottom{
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            .img{
                width: 650px;
                height: 368px;
            }
        }
    }
  }


  @media (max-width: 390px) {
    .breakfast-design{
        .img-left{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .text{    
                align-items: center;          
                p{
                    padding-left: 0rem;
                    font-size: 22px;
                }
            }
            .img{
                width: 350px;
                height: 250px;
            }
        }
        .img-right{
            width: 100%;
            display: flex;
            justify-content: center;
            padding-right: 0rem;
            .img{
                
                width: 350px;
                height: 550px;
            }
        }
        .img-bottom{
            .img{
                width: 350px;
                height: 250px;
            }
        }
    }
  }